/*
==================================================
                prelimineies
==================================================
*/
/* ===== google fonts ===== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button,
input,
textarea,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button[type="submit"],
button[type="reset"] {
  cursor: pointer;
}

/*
==================================================
        re-useable components
==================================================
*/
/* sass variables */
/* mixin */
/*
==================================================
                style for this page
==================================================
*/
#loader-container {
  position: fixed;
  display: block;
  z-index: 99999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
}

@-webkit-keyframes ldio-ru1b8dj3q8 {
  0% {
    top: 48px;
    left: 48px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 9px;
    left: 9px;
    width: 78px;
    height: 78px;
    opacity: 0;
  }
}

@keyframes ldio-ru1b8dj3q8 {
  0% {
    top: 48px;
    left: 48px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 9px;
    left: 9px;
    width: 78px;
    height: 78px;
    opacity: 0;
  }
}

.ldio-ru1b8dj3q8 div {
  position: absolute;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: ldio-ru1b8dj3q8 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: ldio-ru1b8dj3q8 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-ru1b8dj3q8 div:nth-child(1) {
  border-color: #f57f17;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.ldio-ru1b8dj3q8 div:nth-child(2) {
  border-color: #f57f17;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.loadingio-spinner-ripple-shx55uk2vph {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
}

.ldio-ru1b8dj3q8 {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-ru1b8dj3q8 div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  color: #0abead;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0abead;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #36617f;
}

.section_title {
  text-align: center;
}

.section_title h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.section_title p {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.section_title span {
  display: inline-block;
  position: relative;
  height: 3px;
  width: 200px;
  background: #0abead;
  margin: 25px 0 50px;
}

.section_title span::after {
  position: absolute;
  content: '';
  height: 9px;
  width: 26px;
  border-radius: 5px;
  top: -3px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #0abead;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  background-color: #36617f;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 25px;
  -webkit-animation: updown .7s infinite alternate linear;
  animation: updown .7s infinite alternate linear;
}

#myBtn:hover {
  color: #fff;
}

@-webkit-keyframes updown {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes updown {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}

.buttons {
  margin-top: 50px;
}

.buttons .btn1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 9;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
  background: #36617F;
}

.buttons .btn1::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 0;
  top: 0;
  left: -25%;
  background: #fff;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  -webkit-transition: .3s all  linear;
  transition: .3s all  linear;
  z-index: -9;
}

.buttons .btn1:hover {
  color: #36617F;
}

.buttons .btn1:hover::after {
  width: 150%;
}

.buttons .btn2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 9;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
  background: #f57f17;
  margin-left: 20px;
}

.buttons .btn2::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 0;
  top: 0;
  left: -25%;
  background: #fff;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  -webkit-transition: .3s all  linear;
  transition: .3s all  linear;
  z-index: -9;
}

.buttons .btn2:hover {
  color: #f57f17;
}

.buttons .btn2:hover::after {
  width: 150%;
}

/*
==================================================
                    Header css
==================================================
*/
header {
  padding: 20px 0;
  background: #f2f2f9;
  border-bottom: 2px solid #95a5c6;
}

header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__content .logo a {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 700;
  color: #0abead;
}

header .header__content .logo a span {
  font-size: 30px;
  color: #f57f17;
}

header .header__content .menu-btn {
  display: none;
  cursor: pointer;
}

header .header__content nav .close {
  display: none;
}

header .header__content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header__content nav ul li {
  margin-left: 20px;
}

header .header__content nav ul li a {
  font-family: 'Montserrat';
  display: inline-block;
  position: relative;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #95a5c6;
}

header .header__content nav ul li a:after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #36617F;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header .header__content nav ul li a:hover:after {
  width: 100%;
}

/*
==================================================
                   Banner css
==================================================
*/
.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 29, 38, 0.7)), to(rgba(22, 29, 38, 0.7))), url(../images/banner-bg.jpg);
  background: linear-gradient(rgba(22, 29, 38, 0.7), rgba(22, 29, 38, 0.7)), url(../images/banner-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 99999;
  /*-- Modal --*/
}

.banner .hire__modal {
  display: inline-block;
}

.banner .modal {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .modal-content {
  position: relative;
  background: #f2f2f9;
  padding: 20px;
  height: 50vh;
  width: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner .vh-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner .close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  line-height: 3rem;
  cursor: pointer;
  font-size: 3rem;
  color: #0abead;
}

.banner .show-modal {
  position: fixed;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s,  -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.banner .modal-body a {
  display: block;
  height: 60px;
  width: 150px;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 30px;
  background: #fff;
  border: 3px solid white;
  margin: 10px 0;
}

.banner .modal-body a img {
  vertical-align: middle;
}

.banner .modal-body a:hover {
  background: none;
  border: 3px solid #95a5c6;
}

.banner .modal-body .linkedin {
  font-size: 25px;
  font-weight: 800;
  color: #0A66C2;
}

.banner .modal-body .linkedin span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 3px;
  text-align: center;
  background: #0A66C2;
  color: #fff;
}

.banner .custom-shape-divider-bottom-1629523707 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.banner .custom-shape-divider-bottom-1629523707 svg {
  position: relative;
  display: block;
  width: calc(181% + 1.3px);
  height: 248px;
}

.banner .custom-shape-divider-bottom-1629523707 .shape-fill {
  fill: #f2f2f9;
}

.banner .banner_content {
  padding: 95px 0;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner_content .banner_text h3 {
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: 600;
  color: #0abead;
  margin-bottom: 20px;
}

.banner .banner_content .banner_text h3 span {
  color: #f57f17;
}

.banner .banner_content .banner_text h1 {
  margin-bottom: 10px;
}

.banner .banner_content .banner_text p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.banner .banner_content .banner_image {
  text-align: right;
}

.banner .banner_content .banner_image img {
  max-width: 450px;
  border: 12px solid #f2f2f9;
  border-radius: 50%;
}

/*
==================================================
                   About CSS
==================================================
*/
.about {
  padding: 70px 0 50px;
  background: #fff;
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image img {
  width: 100%;
}

.about__text {
  padding: 51px 20px;
  background: #f2f2f9;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p span {
  font-size: 35px;
  font-weight: 600;
  color: #f57f17;
  font-family: serif;
}

.about__text .about_features h3 {
  font-size: 24px;
  font-weight: 600;
  color: #95a5c6;
  color: #f57f17;
  margin: 0 0 20px;
}

.about__text .about_features p {
  margin-bottom: 10px;
}

.about__text .about_features p span {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #f57f17;
  margin-right: 15px;
}

/*
==================================================
                   Resume CSS
==================================================
*/
.resume {
  position: relative;
  background: #f2f2f9;
  padding: 155px 0 200px;
}

.resume .custom-shape-divider-top-1629538322 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.resume .custom-shape-divider-top-1629538322 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.resume .custom-shape-divider-top-1629538322 .shape-fill {
  fill: #fff;
}

.resume .custom-shape-divider-bottom-1629538415 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.resume .custom-shape-divider-bottom-1629538415 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 152px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.resume .custom-shape-divider-bottom-1629538415 .shape-fill {
  fill: #fff;
}

.resume__content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  grid-column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Clear floats after the tab */
}

.resume__content .tab {
  position: relative;
  background: #fff;
}

.resume__content .tab::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 40px;
  top: 0;
  left: 0;
  background: #36617f;
}

.resume__content .tab button {
  position: relative;
  display: block;
  background: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: #36617f;
  margin: 25px 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: 1;
}

.resume__content .tab button:first-child {
  margin-top: 70px;
}

.resume__content .tab button:last-child {
  margin-bottom: 70px;
}

.resume__content .tab button span {
  display: inline-block;
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 20px;
  border-radius: 0 30px 30px 0;
  background: #36617f;
  color: #fff;
}

.resume__content .tab button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 0 30px 30px 0;
  background: #36617f;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: -1;
}

.resume__content .tabcontent {
  float: left;
  display: none;
}

.resume__content .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.resume__content .tab button.active {
  color: #fff;
}

.resume__content .tab button.active::after {
  width: 120%;
}

.resume__content .edu_items {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}

.resume__content .edu-item {
  margin: 15px 0;
}

.resume__content .edu-item .school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume__content .edu-item .school h3 {
  font-size: 20px;
  font-weight: 600;
  color: #f57f17;
  margin-bottom: 15px;
}

.resume__content .edu-item .school h3 span {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #95a5c6;
  margin-right: 15px;
}

.resume__content .edu-item .school p {
  height: 30px;
  width: 130px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
  background: #f57f17;
  color: #fff;
}

.resume__content .edu-item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #36617f;
  margin-bottom: 10px;
}

.resume__content #skill .skill-bars {
  padding: 20px 10px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

.resume__content #skill .skill-bars .bar {
  margin: 10px 0;
}

.resume__content #skill .skill-bars .bar:first-child {
  margin-top: 0px;
}

.resume__content #skill .skill-bars .bar .info {
  margin-bottom: 5px;
}

.resume__content #skill .skill-bars .bar .info span {
  font-weight: 600;
  font-size: 16px;
  color: #95a5c6;
  opacity: 0;
  -webkit-animation: showText 0.5s 1s linear forwards;
          animation: showText 0.5s 1s linear forwards;
}

@-webkit-keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.resume__content #skill .skill-bars .bar .progress-line {
  height: 15px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
  -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.resume__content #skill .bar .progress-line span {
  position: absolute;
  height: 100%;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: #f57f17;
  -webkit-animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.resume__content #skill .bar .progress-line.html-css span {
  width: 95%;
}

.resume__content #skill .bar .progress-line.sass span {
  width: 90%;
}

.resume__content #skill .bar .progress-line.tailwind span {
  width: 75%;
}

.resume__content #skill .bar .progress-line.bootstrap span {
  width: 90%;
}

.resume__content #skill .bar .progress-line.javascript span {
  width: 70%;
}

.resume__content #skill .bar .progress-line.jquery span {
  width: 80%;
}

.resume__content #skill .bar .progress-line.wordpress span {
  width: 85%;
}

.resume__content #skill .progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1.5s linear forwards;
          animation: showText2 0.5s 1.5s linear forwards;
}

.resume__content #skill .progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1.5s linear forwards;
          animation: showText2 0.5s 1.5s linear forwards;
}

@-webkit-keyframes showText2 {
  100% {
    opacity: 1;
  }
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.resume__content #skill .progress-line.html-css span::after {
  content: "95%";
}

.resume__content #skill .progress-line.sass span::after {
  content: "90%";
}

.resume__content #skill .progress-line.tailwind span::after {
  content: "75%";
}

.resume__content #skill .progress-line.bootstrap span::after {
  content: "90%";
}

.resume__content #skill .progress-line.javascript span::after {
  content: "70%";
}

.resume__content #skill .progress-line.jquery span::after {
  content: "80%";
}

.resume__content #skill .progress-line.wordpress span::after {
  content: "85%";
}

.resume__content #hobby .hobby_items {
  padding: 50px 20px;
  background: #fff;
  border-radius: 10px;
}

.resume__content #hobby .hobby_items h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #95a5c6;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume__content #hobby .hobby_items h4 span {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  margin-right: 10px;
  background: #f57f17;
}

/*
==================================================
                   Services CSS
==================================================
*/
.services {
  padding: 0 0  200px 0;
  position: relative;
  background: #fff;
}

.services .custom-shape-divider-bottom-1629538415 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services .custom-shape-divider-bottom-1629538415 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 152px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.services .custom-shape-divider-bottom-1629538415 .shape-fill {
  fill: #f2f2f9;
}

.services__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
  position: relative;
}

.services__item {
  position: relative;
  background: chartreuse;
  padding: 30px 40px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.services__item span {
  display: inline-block;
  position: relative;
  z-index: 9999;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 25px;
  background: #fff;
  color: #36617f;
  text-align: center;
  margin-bottom: 20px;
}

.services__item h4 {
  position: relative;
  z-index: 9999;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.services__item p {
  position: relative;
  z-index: 9999;
  color: #fff;
}

.services__item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.services .item2 {
  background: #8540ff;
}

.services .item2 .custom-shape-divider-bottom-1629735304 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services .item2 .custom-shape-divider-bottom-1629735304 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 153px;
}

.services .item2 .custom-shape-divider-bottom-1629735304 .shape-fill {
  fill: #a16bff;
}

.services .item3 {
  background: #ec407a;
}

.services .item3 .custom-shape-divider-bottom-1629735304 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services .item3 .custom-shape-divider-bottom-1629735304 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 153px;
}

.services .item3 .custom-shape-divider-bottom-1629735304 .shape-fill {
  fill: #ff568e;
}

.services .item4 {
  background: #ff6331;
}

.services .item4 .custom-shape-divider-bottom-1629735304 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services .item4 .custom-shape-divider-bottom-1629735304 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 153px;
}

.services .item4 .custom-shape-divider-bottom-1629735304 .shape-fill {
  fill: #ff8961;
}

.services .item5 {
  background: #13b6ff;
}

.services .item5 .custom-shape-divider-bottom-1629735304 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services .item5 .custom-shape-divider-bottom-1629735304 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 153px;
}

.services .item5 .custom-shape-divider-bottom-1629735304 .shape-fill {
  fill: #58caff;
}

/*
==================================================
                   Portfolio CSS
==================================================
*/
.portfolio {
  position: relative;
  background: #f2f2f9;
  padding: 0 0 200px;
}

.portfolio .custom-shape-divider-bottom-1629538415 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.portfolio .custom-shape-divider-bottom-1629538415 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 152px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.portfolio .custom-shape-divider-bottom-1629538415 .shape-fill {
  fill: #fff;
}

.portfolio__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
}

.portfolio__item {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.portfolio__item:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.portfolio__item .work_title {
  background: #36617F;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__item .work_title h3 {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 18px;
}

.portfolio__item .work_title h3 span {
  display: inline-block;
  height: 3px;
  width: 50px;
  margin-left: 10px;
  background: #36617F;
}

.portfolio__item .work_title a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  background: #fff;
  color: #36617F;
}

.portfolio__item .work_title a:hover {
  color: #fff;
  background: #95a5c6;
}

/*
==================================================
                   Testimonial CSS
==================================================
*/
.testimonial {
  position: relative;
  padding: 0 0 200px;
  background: #fff;
}

.testimonial .custom-shape-divider-bottom-1629538415 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonial .custom-shape-divider-bottom-1629538415 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 152px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.testimonial .custom-shape-divider-bottom-1629538415 .shape-fill {
  fill: #f2f2f9;
}

.testimonial .slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.testimonial .slider__button button {
  cursor: pointer;
  background: none;
  margin: 0 10px;
}

.testimonial .slider__button button span {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #f2f2f9;
  border: 2px solid #fff;
  color: #fff;
  color: #95a5c6;
  border: 2px solid #95a5c6;
  border-radius: 50%;
}

.testimonial .slider__button button span:hover {
  border: 2px solid #fff;
}

.testimonial__item {
  margin: 0 10px;
  padding: 10px 30px;
  text-align: center;
  border-radius: 10px;
  background: #f2f2f9;
  border: 2px solid #95a5c6;
}

.testimonial__item span {
  font-size: 35px;
  color: #fff;
}

.testimonial__item p {
  font-weight: 400;
  margin-bottom: 20px;
}

.testimonial__item .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial__item .client img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonial__item .client .client_bio h4 {
  font-size: 20px;
  font-weight: 600;
  color: #f57f17;
}

.testimonial__item .client .client_bio h5 {
  font-size: 16px;
  font-weight: 600;
  color: #95a5c6;
}

/*
==================================================
                   Pricing CSS
==================================================
*/
.pricing {
  position: relative;
  background: #f2f2f9;
  padding: 0 0 100px;
}

.pricing .custom-shape-divider-bottom-1629538415 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pricing .custom-shape-divider-bottom-1629538415 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 152px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.pricing .custom-shape-divider-bottom-1629538415 .shape-fill {
  fill: #fff;
}

.pricing__items {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.pricing__item {
  position: relative;
  text-align: center;
  background: #fff;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.pricing__item::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.pricing__item:hover::after {
  width: 100%;
}

.pricing__item .price_section {
  padding: 35px 0;
}

.pricing__item h3 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 5px;
}

.pricing__item h4 {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
}

.pricing__item h4 span {
  font-size: 52px;
}

.pricing__item p {
  color: #fff;
  font-weight: 400;
}

.pricing__item ul li {
  color: #95a5c6;
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0;
}

.pricing__item ul li:first-child {
  margin-top: 30px;
}

.pricing__item a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 170px;
  line-height: 50px;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-family: 'Montserrat';
  margin: 20px 0 30px;
  z-index: 9;
}

.pricing__item a::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 0;
  top: 0;
  left: -25%;
  background: #36617F;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  -webkit-transition: .3s all  linear;
  transition: .3s all  linear;
  z-index: -9;
}

.pricing__item a:hover {
  color: #fff;
}

.pricing__item a:hover::after {
  width: 150%;
}

.pricing__item:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.pricing .item1::after {
  background: #FF6331;
}

.pricing .item1:hover::after {
  width: 100%;
}

.pricing .item1 .price_section {
  background: #FF6331;
}

.pricing .item1 a {
  background: #FF6331;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

.pricing .item2::after {
  background: #803AFB;
}

.pricing .item2:hover::after {
  width: 100%;
}

.pricing .item2 .price_section {
  background: #803AFB;
}

.pricing .item2 a {
  background: #803AFB;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

.pricing .item3::after {
  background: #F5276C;
}

.pricing .item3:hover::after {
  width: 100%;
}

.pricing .item3 .price_section {
  background: #F5276C;
}

.pricing .item3 a {
  background: #F5276C;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

/*
==================================================
                   Contact CSS
==================================================
*/
.contact {
  padding: 50px 0;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 29, 38, 0.7)), to(rgba(22, 29, 38, 0.7))), url(../images/contact-bg.jpg);
  background: linear-gradient(rgba(22, 29, 38, 0.7), rgba(22, 29, 38, 0.7)), url(../images/contact-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .map {
  position: relative;
}

.contact__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.contact__way {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.contact__way .item {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__way .item span {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #fff;
  color: #95a5c6;
}

.contact__way .item h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact__way .item p {
  color: #fff;
}

.contact__way .item a {
  color: #fff;
}

.contact__way .item a:hover {
  text-decoration: underline;
}

.contact__way .item1 {
  background: #13b6ff;
}

.contact__way .item2 {
  background: #FF6331;
}

.contact__way .item3 {
  background: #ffc50c;
}

.contact__way .item4 {
  background: #ec407a;
}

.contact__form {
  border: 1px solid #fff;
  padding: 30px;
  border-radius: 10px;
  background: #F6F8FA;
}

.contact__form form input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #36617F;
  background: #fff;
  -webkit-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
          box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border: 1px solid #36617F;
}

.contact__form form input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Poppins';
  color: #36617F;
}

.contact__form form input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Poppins';
  color: #36617F;
}

.contact__form form input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Poppins';
  color: #36617F;
}

.contact__form form input::placeholder {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Poppins';
  color: #36617F;
}

.contact__form form input[type="submit"] {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 40px;
  text-align: center;
  background: #36617F;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}

.contact__form form input[type="submit"]:hover {
  background: #f57f17;
}

.contact__form form textarea {
  height: 120px;
  width: 100%;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #36617F;
  background: #fff;
  -webkit-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
          box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border: 1px solid #36617F;
}

.contact__form form textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #36617F;
  font-family: 'Poppins';
  font-style: normal;
}

.contact__form form textarea:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #36617F;
  font-family: 'Poppins';
  font-style: normal;
}

.contact__form form textarea::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #36617F;
  font-family: 'Poppins';
  font-style: normal;
}

.contact__form form textarea::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #36617F;
  font-family: 'Poppins';
  font-style: normal;
}

/*
==================================================
                   Footer CSS
==================================================
*/
footer {
  padding: 20px 0;
  background: #f2f2f9;
}

footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_content .copyright p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #36617f;
}

footer .footer_content .copyright p span {
  font-size: 14px;
  color: #f57f17;
}

footer .footer_content .social_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer_content .social_links ul li {
  margin-left: 20px;
}

footer .footer_content .social_links ul li a {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: #36617f;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

footer .footer_content .social_links ul li a:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
/*# sourceMappingURL=style.css.map */